name: Run Gradle on PRs
on:
  pull_request:
  push:
      branches: [main]
jobs:
    assemble:
      timeout-minutes: 300
      strategy:
          matrix:
              os: [ubuntu-latest,macos-latest]
              version: [17]
              vendor: [zulu]
      runs-on: ${{ matrix.os }}
      steps:
          - uses: actions/checkout@v6
          - uses: actions/setup-java@v5
            with:
                distribution:  ${{ matrix.vendor }}
                java-version:  ${{ matrix.version }}

          - name: Setup Gradle
            uses: gradle/actions/setup-gradle@v5
          - name: Execute Gradle build
            run:  ./gradlew test
    fatbinary:
        timeout-minutes: 300
        strategy:
            matrix:
                os: [ubuntu-latest,macos-latest]
                version: [17]
                vendor: [zulu, liberica]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-java@v5
              with:
                  distribution:  ${{ matrix.vendor }}
                  java-version:  ${{ matrix.version }}

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5
            - name: Execute Gradle build
              run:  |
                ./gradlew :cli:fatBinary
                ./cli/artifacttransform --max-builds 50 --api-key=${{ secrets.GE_API_KEY }} --url=${{ secrets.GE_URL }} --project=nowinandroid
            - name: Archive production artifacts
              uses: actions/upload-artifact@v6
              with:
                name: report-${{ matrix.vendor }}-${{ matrix.os }}--${{ matrix.version }}
                path: |
                   ./*.txt
                   ./*.csv
